services:
    vibedebug.data_collector:
        class: Milton\VibedebugBundle\DataCollector\VibedebugDataCollector
        arguments:
            $agents: !tagged_iterator ai.agent
        tags:
            - { name: 'data_collector', template: '@Vibedebug/data_collector/collector.html.twig', id: 'vibedebug' }

    vibedebug.agent_registry:
        class: Milton\VibedebugBundle\Agent\AgentRegistry
        arguments:
            $agents: !tagged_iterator ai.agent

    vibedebug.system_prompt_provider:
        class: Milton\VibedebugBundle\Agent\Chat\SystemPrompt\TwigTemplateSystemPromptProvider
        arguments:
            $template: "@@Vibedebug/prompt/system.md.twig"
            $twig: '@twig'

    vibedebug.twig.extension:
        class: Milton\VibedebugBundle\Twig\Extension\VibedebugExtension
        tags: [ 'twig.extension' ]
        arguments:
            $converter: '@vibedebug.markdown.converter'

    vibedebug.chat_loader:
        class: Milton\VibedebugBundle\Agent\Chat\ChatLoader
        arguments:
            $profilerStorage: '@profiler.storage'
            $systemPromptProvider: '@vibedebug.system_prompt_provider'

    vibedebug.markdown.converter:
        class: League\CommonMark\CommonMarkConverter
        arguments:
            $config: { html_input: strip }

    vibedebug.profile_exporter:
        class: Milton\VibedebugBundle\Agent\Tool\ProfileExporter
        arguments:
            $profiler: '@profiler'
        tags:
            - { name: 'ai.tool' }

    vibedebug.controller:
        class: Milton\VibedebugBundle\Controller\VibedebugController
        arguments:
            $agentRegistry: '@vibedebug.agent_registry'
            $profiler: '@profiler'
            $twig: '@twig'
            $chatLoader: '@vibedebug.chat_loader'
            $responseConverter: '@vibedebug.markdown.converter'
        tags:
            - { name: 'controller.service_arguments' }
